@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    background-color: #ffffff;
    padding: 10px 20px;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 70px;
    display: flex;
}

.logo {
    height: 100%;
}

h1 {
    font-size: 35px;
    color: #001e32;
}

h3{
    margin-top: 30px;
    color: #001e32;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

a {
    color: #f44d13;
    text-decoration: none;
}

.flex-1 {
    flex: 1;
}

.main{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.555);
    margin-bottom: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.text button {
    background-color: #f44d13;
    color: white;
    border: none;
    padding: 10px 0;
    width: 200px;
    border-radius: 25px;
}

.text button:hover {
    background-color: #575989;
}

.family {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    
    align-items: center;

    border-bottom: 0.5px solid rgba(255, 255, 255, 0.555);
    border-radius: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    border: 2px solid #f44d13;
}

.family img {
    height: 380px;
}

.family p {
    width: 60%;
    color: black;
}

.veiculos {
    text-align: center;
    height: 31vh;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.555);
    margin-bottom: 150px;
}

h3{
    color: #f44d13;
}

.local {
    text-align: center;
    height: 40vh;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.555);
    border-radius: 20px;
    margin-bottom: 50px;
    padding-top: 30px;
    border: 2px solid #001e32;
}

.local .cidades {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
}

.listaCidades{
    background-color: #f44d13;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
}

li{
    list-style-type: none;
    margin-top: 10px;
}

.cotacao {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}

.cotacao form {
    display: flex;
    column-gap: 20px;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
    

}

.cotacao option {
    color: black;
}

.cotacao select {
    background-color: #001e32;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
}

.cotacao input {
    color: #ffffff;
    background-color: #001e32;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    width: 100px;
}

.cotacao button {
    background-color: #001e32;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    width: 100px;
    border-radius: 25px;
}

.orcamento {
    font-size: 50px;
    margin-top: 100px;
}

.funcionarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid #f44d13;
    width: 50%;
}

.quadroFuncionarios{
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaFuncionarios{
    margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .main img {
        width: 100%;
    }

    .family {
        max-height: 100%;
    }

    .family img {
        height: 300px;
    }
}

